body {
  background-image: radial-gradient(circle, #f7fcfc, #157569);
  background-size: 200% 200%;
  animation: backgroundAnimation 10s ease infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}